name: tekartik_web_socket_browser
description: Web socket browser
version: 0.3.0
publish_to: none
#homepage: https://www.example.com
#author: alex <email@example.com>

environment:
  sdk: ^3.9.0

dependencies:
  tekartik_common_utils:
    git:
      url: https://github.com/tekartik/common_utils.dart
  tekartik_web_socket:
    git:
      url: https://github.com/tekartik/web_socket.dart
      path: web_socket
    version: '>=0.2.2'
  web_socket_channel:
dev_dependencies:
  test: ">=1.24.0"
  dev_build: ">=1.1.2"
  build_web_compilers: ">=4.0.11"
  process_run: ">=1.2.1+1"
  tekartik_web_socket_test:
    git:
      url: https://github.com/tekartik/web_socket.dart
      path: web_socket_test
    version: '>=0.1.0'

resolution: workspace
